@import url(  'https://fonts.googleapis.com/css2?familyOutfit:wght@500;900&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;900&family=Playfair+Display:wght@700&family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    min-height: 100vh;
    background-color: #90be6d;
    font-family: 'Poppins', sans-serif;
    color: white;
 
}

nav{
        background-color:#212529;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
      position: fixed;
      margin-bottom: 10px;
}

nav button{
   position: fixed;
   top:10px;
   right:20px;
   font-size: medium;
  font-family:  'Poppins', sans-serif;
  border: 2px solid #a7b0ca;
  background-color: #7400b8;
  color: white;
  border-radius: 12px;
  box-shadow:1px px #7400b8;

}
nav button:hover{
    font-size:larger;
}
#list{
       display: flex;
       list-style: none;
}
#list a{
    text-decoration: none;
    color: #edf2f4;
    padding: 5rem;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}
#head{
    text-align: center;
    display: block;
    background-color: #7f4f24;
    margin-top: 0px;
    padding: 1.5rem;
    font-size:20pt;
   font-family: 'Playfair Display', serif;
   color: white;
}


img{
     height: 400px;
     width: 400px;
     object-fit: cover;
     margin: 0%;
}
#album1 ,#album2 ,#album3{
     display:inline-block;
     padding: 1rem;
    margin: 0px;
    align-items: center;
}

#album4 ,#album5 ,#album6 {
     display:inline-block; 
    padding: 1rem;
   justify-content: center;
   align-items: center;
}

#album1,#album4{
    margin-left: 10px;
}
h3{
    color: black;
    text-align: center;
}
.prod-details button{
    margin-left: 111px;
     font-family:  'Poppins', sans-serif;
     border: 2px solid #a7b0ca;
     background-color: #7400b8;
     color: white;
     border-radius: 6px;
     box-shadow:1px px #7400b8;
}
.prod-details button:hover
{
    background-color: #90be6d;
}
.prod-details{
    margin-left: 130px;
}
.prod-details span{
    color: white;
   font-size: large;
}
.container img:hover{
    border: 2px solid ;
}
h2{
    text-align: center;
    text-shadow: 2px 2px 5px  #4361ee;
    color:#fefae0;
    margin-top: 0;
    background-color: #283618;
}

#merch-content{
    display: flex;
    align-items: center;
}
#t-shirt ,#coffe-cup{
     margin-left: 100px;
   padding: 5rem;
}
#merch{
    padding-top: 100px;
}

.cart-btn-bottom {
    display: flex;
    background-color:#7400b8 ;
    width: 150px;
    height: 50px;
    justify-content: center;
     align-items: center;
     margin-left: 558px;
     border-radius: 5px;
     border: none;
     margin-bottom: 50px;
}

.cart-btn-bottom:hover{
    background-color: #90be6d;
    border: 2px solid #7400b8 ;
    
}

.cart-btn-bottom a{
      text-decoration: none;
     color: white;
     font-size: larger;
     
}

.footer-title{margin: 0%;
font-size: 57px;
}
.footer-icons{
 margin-left: 600px;

}

.footer-icons li{
    display: inline-flex;
    list-style: none;
    padding: 1rem;
}

.footer-icons img{
     height: 60px;
     width: 62px;
     object-fit: cover;
    padding: 1rem;
}
footer{
    display: flex;
    background-color: #264653;
}

#cart{
    position: fixed;
    top:50px;
    right:10px;
   min-height: 100vh;
    width :500px;
     background-color: #fefae0;
    display: none;
}

.cancel{
 margin-left: 466px;
 background-color: #ef233c;
 padding: 0.5rem;
 color:white;
 border-radius: 60%;
 border: none;
}
.cancel:hover{
    background-color: white;
    color:#ef233c;
}

.cart-total{
    color: black;
   margin-left: 200px;
}
.purchase-btn{
    margin-left: 100px;
    margin-top: 30px;
    background-color:#7400b8 ;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    border:none;
}
.purchase-btn:hover{
    padding: 0.7rem;
    overflow: hidden;
}
.cartimages{
    height: 20px;
    width :20px;
    object-fit: cover;
}
#cartitems div{
    padding: 2rem;
    color:black;
    display: inline-block;
}
#cartitems ul{
    
    display: block;
    list-style: none;
}
#items li{
   padding-right: 0px;
   margin: 0%;
}
#remove{
       background-color: red;
       border: none;
       color: white;
      margin-left: 1rem;
}
#remove:hover{
    background-color:white;
    color:red;
}
/* 

   home
*/
.maincontent{
    min-height: 100vh;
    background-color: #354f52;
}

.contentcolumn{
     height: 300px;
     background-color: #264653;
       display: flex;
       
 }
 .contentcolumn img{
     display: flex;
     height: 300px;
     width: 300px;
     object-fit: cover;
     border-radius: 76%;
 }
 #text{
   font-size: xx-large;
   height: 167px;
 }
 .contentcolumn button{
    margin-top: 200px;
 }
 #h2tag{
     margin: 0%;
     font-size: 70px;
      padding-left: 100px;
 }
 #book{
     margin: 0%;
     padding-top: 20px;
     padding-left :30px;
 }
 .contentcolumn button{
   margin-right: 50px;
   padding: 2rem;
   background-color: #264653;
   color: white;
   border: 1px solid #0077b6;
   border-radius: 50%;
 }

 .tickets-column{
     display: flex;
     justify-content: center;
    
 }
 .ticket{
    justify-content: center;
    padding-top: 2rem;
 }
 .ticketList{
     display: flex;
 }
 
 .ticket span{
     display: flex;
     padding: 2rem;
     color: orange;
 }
 .ticketList button{
     float:left ;
     background-color: #4361ee;
     border: none;
     border-radius: 1px;
     color: white;
 }
 
 /* 
 about page
 */

 .about{
     min-height: 100vh;
     display: flexbox;
     justify-content: center;
     align-items: center;
 }
 .aboutus{
     background-color: none;
 }
 #contents{
     display:flex;
 }
 #contents p{
     height: 60vh;
     width: 600px;
     margin-left: 200px;
     color: black;
    word-spacing: 0.2rem;
    line-height: 2rem;
 }
 #contents img{
     border: none;
     border-radius: 50%;
     margin-top: 20px;
 }


 /* notfication */

 #di{
    position: fixed;
    bottom :0px;
    right: 20px;

}
.msg{
    background-color: gray;
    padding: 2rem;
    align-items: center;
    margin: 2rem;
    border-radius: 2px;
    border: 1px solid orange;
}